name: Add RSS from Issue

on:
  issues:
    types: [opened]

permissions:
  contents: write
  issues: write

jobs:
  add_rss:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./requirements.txt
          pip install PyGithub

      - name: Run add rss script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python ./add_rss_from_issue.py

      - name: Commit changes
        run: |
          git diff
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add rss.yaml
          git pull --rebase origin main
          git commit -m "从Issue添加RSS源" || echo "没有新RSS源需要提交"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
